<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{web/layouts/layout}">

    <head>
        <title>صحفه اصلی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

        <div layout:fragment="content">


            <!-- TOP HEADER -->
            <a name="top"></a>
            <div class="psp-be-together-section mdl-typography--text-center" style="background-image: url('fe/images/wear.png');">
                <div class="logo-font psp-slogan" style="color: #FFF ">Pardakht.af</div>
                <div class="logo-font psp-sub-slogan">Facilitate Financial Inclusion</div>
                <div class="logo-font psp-create-character">
                    <a href=""><img th:src="@{/fe/images/generic-logo.png}">Build Your Own E-Commerce Website</a>
                </div>

                <a href="#screens">
                    <button class="psp-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                        <i class="material-icons">expand_more</i>
                    </button>
                </a>
            </div>
            <!-- END TOP HEADER -->


            <!--            <div class="psp-be-together-section mdl-typography--text-center">
                            <div class="logo-font psp-slogan" style="color: #FFF ">Sign In </div>
                            <div class="logo-font psp-sub-slogan">
            
            
                                <center class="Input" >
                                    <input style="width: 50%" type="text" id="input" class="Input-text" placeholder="Your Phone No. e.g. 07xxxxxxxx" >
                                    <label for="input" class="Input-label">You Phone Number</label>
                                </center>
            
                            </div>
                           
                        </div>-->

                <input class="mdl-textfield__input" type="text" id="search-field">




        </div>
    </body>

</html>