<head th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on psp.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pardakht</title>

    <!-- Favicons-->
    <link rel="icon" th:href="@{/fe/images/generic-logo.png}" sizes="64x64">

    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/fe/images/generic-logo.png}">

    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" th:content="@{/fe/images/generic-logo.png}">
    <!-- For Windows Phone -->

    <!-- END FAVICON -->



    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/fe/css/material_icons.css}"/>
    
    <link rel="stylesheet" th:href="@{/fe/css/material.min.css}"/>
    <link rel="stylesheet" th:href="@{/fe/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/fe/css/form_style.css}"/>




</head>