<!-- START SIDEBAR  -->
<div class="psp-drawer mdl-layout__drawer" th:fragment="sidebar">
    <span class="mdl-layout-title">
        <img class="psp-logo-image" src="images/generic-logo.png">
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Phones</a>
        <a class="mdl-navigation__link" href="">Tablets</a>

        <div class="psp-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">Versions</span>
        <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
        <a class="mdl-navigation__link" href="">psp history</a>
        <div class="psp-drawer-separator"></div>
    </nav>
</div>
<!-- END SIDEBAR -->