<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{be/layouts/layout}">

<head>
	<title>CARD MANAGEMENT</title>
</head>

        <div layout:fragment="content">



				<!--breadcrumbs start-->
			<div id="breadcrumbs-wrapper" style="width:100%;" class="" >
			  <div class="container">
			    <div class="row">
			      <div class="col s12 m12 l12">
			        <h5 class="breadcrumbs-title">CARD MANAGEMENT </h5>
			        <ol class="breadcrumb">
			          <li><a th:href="@{/}">HOME</a></li>
			          <li class="active"> CARDS</li>
			        </ol>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="separator"></div>
			<!--breadcrumbs end-->


			<div th:if="${allCards}">
				

				<div th:each="row : ${cards}">
                    <a href="#card-info-modal" class="card-container col s12">
	                    <div class="list-items" style="width:250px;margin:5px; background-image: url('be/images/card.jpg');">
	                       
	                        <div class="browse-user-info">
	                            <p class="item-detail" th:text="${row.cardNo}">
	                            
	                            </p>
	                            <p class="item-detail" th:text="${row.bank.name}">
	                            </p>
	                            <span style="visibility: hidden;" class="cardid" th:text="${row.id}"></span>
	                        </div>
	                    </div> 
                    </a>
                </div>


			</div>


			                <!-- START EDIT  MODAL -->
			  <div id="card-info-modal" class="modal modal-fixed-footer">
			    <div class="modal-content">
			      
			          
			        	<h5 class="center cyan-text">Card Information</h5>
				        <p> Card: <span id="cardno"></span></p>
			            <p>Phone: <span id="phone"></span></p>
			        	<p>E-Mail: <span id="email"></span></p>
			            <p>CVV: <span id="cvv"></span></p>
			       		<p>Bank: <span id="bank"></span></p>
			            <p>User: <span id="user"></span></p>

			      
						<a href="" id="card-edit" class="btn waves-effect waves-teal">Edit</a>
						<a href="" id="card-delete" class="btn red">Delete</a>

			    </div>
			    <div class="modal-footer" id="footer-modal">
			      <a href="#" class=" modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
			    </div>
			
			  </div>
              <!-- END EDIT MODAL -->

	
		
		</div>

</html>