<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{be/layouts/layout}">

<head>
	<title>NSIA</title>
</head>

        <div layout:fragment="content">


        <!--breadcrumbs start-->
      <div id="breadcrumbs-wrapper" style="width:100%;" class="" >
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12">
              <h5 class="breadcrumbs-title"> INTEGRATION PLATFORM </h5>
              <ol class="breadcrumb">
                <li><a th:href="@{/}">HOME</a></li>
                <li class="active"> CREATE AND DEPLOY A NEW TEMPLATE </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <!--breadcrumbs end-->


<div class="create-form">
                <form class="dataform" style="width: 100%"
                 method="POST" th:action="@{/secure/template/save}"
                  data-parsley-validate>

                Create a New Template


                    <div class="row margin">
                    <div class="input-field col s12">
                      <i class="mdi-social-location-city prefix"></i>
                      <input  id="name" type="text" name="name"
                     required>
                      <label for="name" class="center-align">Template Name</label>
                    </div>
                  </div>

                  <div class="row margin">
                    <div class="input-field col s12">
                      <textarea id="textarea" class="materialize-textarea" required name="config">
                      </textarea>
                      <label for="textarea">Configuration Rules</label>
                    </div>
                  </div>
           
              
          
                  <div class="row">
                    <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Create and Deploy</button>
                    </div>
                  </div>
              </form>

           </div>
           
      

        </div>

</html>


