<!DOCTYPE html>
<html>

<style type="text/css">
  
  html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}

</style>


<head th:replace="be/fragments/head :: head"></head>


<body>

<!-- Start Page Loading -->
<!--   <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div> -->
  <!-- End Page Loading -->


  <!-- 	START NAVBAR -->
<!--   <div class="navbar-fixed">
   <nav style="">
    <div class="container" style="margin: 0px;">
      <div class="left" style="height:50px;width:60px;padding: 4px;">
	      <a href="#" class="brand-log"><img th:src="@{/be/images/logo.jpg}" alt="" class="circle responsive-img center" width="100%"></a></div>
	      <ul class="right">
	        <li><a href="" id="shir">Create Account</a></li>
	      </ul>
     </div>
  </nav>
  </div> -->
  <!--END NAVBAR -->

  <!-- START CONTAINER -->
  <div class="container" style="margin-top:15px;">
	  <!-- START ROW -->
	  <div class="row">
	
	 <!-- START LOGIN PANEL -->
	  <div class="col s12 m12 l12">
	   <div id="login-page" class="row" style="min-width: 500px; padding: 30px !important;">
	    <div class="col s12  card-panel">
	    
	      <form class="login-form dataform" th:action="@{/login}" method="POST" action="" style="width: 100%" data-parsley-validate="">
	        <div class="row">
	          <div class="input-field col s12 center">
                      <img th:src="@{/be/images/logo.jpg}" alt="" class=" responsive-img valign profile-image-login" style="margin:10px;">
	            <p class="center login-form-text">You May Login to System From Here!</p>
	          </div>
	        </div>
	       
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
	            <input id="username" data-parsley-trigger="change" data-parsley-validation-threshold="10" data-parsley-minlength="10" data-parsley-maxlength="100" required="true" autofocus="true" type="text" name="username">
	            <label for="username" class="center-align ">Username</label>
	          </div>
	        </div>
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-action-lock-outline prefix"></i>
	            <input id="password" type="password" name="password" data-parsley-validation-threshold="10" data-parsley-minlength="6" data-parsley-maxlength="32"  data-parsley-trigger="change">
	            <label for="password">Password</label>
	          </div>
	        </div>
	        <div class="row">          
	          <div class="input-field col s12 m12 l12  login-text">
	              <input type="checkbox" id="remember-me" name="remember" />
	              <label for="remember-me">Remember me</label>
	          </div>
	        </div>
	        <div class="row">
	        
	          <div class="input-field col s12">
 				<button class=" btn waves-effect waves-light col s12 cyanback " type="submit" name="action">Login </button>
  	          </div>
	        </div>
	        <div class="row">
	          <div class="input-field col s6 m6 l6">
	            <!--<p class="margin medium-small "><a href="#" id="signup-btn" class="link-hover">Register Now!</a></p>-->
	          </div>
	          <div class="input-field col s6 m6 l6">
	              <p class="margin right-align medium-small"><a href="#" class="link-hover">Forgot password ?</a></p>
	          </div>          
	        </div>
	
	      </form>
	      
	    </div>
	  </div>
	 </div>
	 <!-- END LOGIN PAGE -->


	 <!-- Registeration PAGE -->
	  <!-- START LOGIN PANEL -->
<!--	  <div class="col s12 m12 l12">
	   <div id="signup-page" class="row" style="width: 100%; margin: 20px;" > 
	    <div class="col s12  card-panel">
	    
	      <form class="login-form" method="POST" th:action="@{/online/user/register}" style="width: 100%" data-parsley-validate="">
	        <div class="row">
	          <div class="input-field col s12 center">
	            <img th:src="@{/be/images/logo.jpg}" alt="" class="responsive-img valign profile-image-login">
	            <p class="center login-form-text">You can sign up here!</p>
	          </div>
	        </div>
	       
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
                    <input name="firstName" id="firstName" required="true" type="text" />
	            <label for="username" class="center-align ">FirstName</label>
	          </div>
	        </div>


	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
                     <input name="lastName" id="lastName" required="true" type="text" />
	            <label for="username" class="center-align ">LastName</label>
	          </div>
	        </div>



	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
                    <input name="email" id="username" required="true"  type="text" >
	            <label for="username" class="center-align ">Email</label>
	          </div>
	        </div>

	                <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
                    <input  type="password" name="password" id="password" >
	            <label for="username" class="center-align ">Password</label>
	          </div>
	        </div>






	        <div class="row">
	        
	          <div class="input-field col s12">
 				<button class=" btn waves-effect waves-light col s12 cyanback " type="submit" name="action">Register </button>
  	          </div>
	        </div>
	      
	
	      </form>
	      
	    </div>
	  </div>
	 </div>-->
	 <!-- End Registeration PAGE -->


    </div>
	  <!-- END ROW -->
  </div><!--END CONTAINER -->




<div th:replace="be/fragments/scripts :: scripts"></div>
 

 <script type="text/javascript">
 	
// 	$('#signup-page').hide();
//
// 	$('#signup-btn').on('click', function()
// 	{
// 		$('#signup-page').show();
// 		$('#login-page').hide();
// 	});

 </script>

</body>




