<head th:fragment="head">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>National Statistic and Information Authority</title>

    <!-- Favicons-->
    <link rel="icon" th:href="@{/be/images/logo.jpg}" sizes="64x64">
    
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/be/images/logo.jpg}">
    
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->

	

    <!-- CORE CSS-->    
    <link th:href="@{/be/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <link th:href="@{/be/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <link th:href="@{/be/css/custom.css}" type="text/css" rel="stylesheet" media="screen,projection">


</head>