<div th:fragment="navbar"> 
<!-- Start Page Loading -->
<!--   <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"  style="background: #37474F;"></div>
      <div class="loader-section section-right"  style="background: #37474F;"></div>
  </div> -->
  <!-- End Page Loading -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

 <!-- navbar starts -->
   <div class="navbar-fixed nav-wrapper hide-on-large-only ">
	   <nav>
	    <div class="container" style="margin: 0px;">
	      <div class="left" style="height:50px;width:150px;padding: 4px;">
	     	 <a href="#" class="brand-log"><img th:src="@{/be/images/logo.jpg}" alt="NSIA" class="responsive-img" width="100%" id="logo"></a></div>
	    	   <ul class="right" style="margin-right:40px;margin-top:5px;">
	           </ul>	   
	    </div>
	  </nav>
  </div>
  <!--navbar ends -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->

</div>